body{
    text-align: center;
    font-family: sans-serif;
}

#from{
    display: block;
    margin: auto;
}

#to{
    display: block;
    margin: auto;
}

#submit{
    display: block;
    margin: 5px auto;
    padding: 3px;
}